#!/usr/bin/env bash

JAVA_VERSION=1.8
JAVA_SEARCH_DIR=~/Library/Java/JavaVirtualMachines

java_match=$(find "$JAVA_SEARCH_DIR" -type d -name "*${JAVA_VERSION}*" | head -n1)
if [[ -z "$java_match" ]]; then
  >&2 echo "No java found in $JAVA_SEARCH_DIR that matches $JAVA_VERSION"
  >&2 echo "Install java $JAVA_VERSION into $JAVA_SEARCH_DIR and try again"
fi

export JAVA_HOME="${java_match}/Contents/Home"
export PATH="${JAVA_HOME}/bin:${PATH}"
